#board {
  aspect-ratio: 1 / 1;
  margin: auto;
  border: 3px #333 solid;
  box-sizing: border-box;
}

#board > div {
  display: flex;
  width: 100%;
  height: 12.5%;
}

.square {
  width: 12.5%;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border: #000 solid 0.01cm;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.square.light {
  background: #ccd;
}

.square.dark {
  background: rgb(112, 112, 112);
}

.square img.piece {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.square.allowed {
  opacity: 0.8;
  background: radial-gradient(#333, #222) !important;
  border: 1px solid black !important;
}

.square.last-move {
  background: #30b030 !important;
}

.square.clicked-square {
  background: radial-gradient(#333, #222) !important;
  border: 1px solid black !important;
}
