.scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  z-index: 100;
}

.scene.show {
  display: block !important;
  animation: showMessage 1s ease-out;
  animation-fill-mode: both;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 101;
}

.scene .scene-content {
  position: fixed;
  color: #fff;
  z-index: 102;
  width: 100%;
  text-align: center;
  margin-top: 50vh;
  font-size: 20px;
  height: 100vh;
}

.scene-content h2 {
  font-weight: 500;
  margin-bottom: 0;
  font-size: 2rem;
}

#opponent-selection {
  margin-bottom: 0;
}

@keyframes showMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input[type='radio'] {
  display: none;
}

label {
  background-color: #574741;
  position: relative;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.8em;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  border: 2px solid #d1b593;
  color: white;
  margin: 0 10px;
}

input[type='radio']:checked + label {
  background-color: #c19561;;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  outline: 0;
  background: #c19561;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.button-big {
  padding: 15px 40px;
  font-size: 18px;
}

.button:hover {
  background: #45a049;
}

/* Mobile adjustments */
@media screen and (max-width: 768px) {
  .scene .scene-content {
    margin-top: 32vh;
  }
  
  .scene-content > div {
    margin-bottom: 22px !important;
  }
}
